version: "3.11"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: leads_distributor
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./data:/app/data
